/*/////////////////////////////////////////////////////////
//	STYLE CSS
///////////////////////////////////////////////////////////*/

* {
    color: white;
}

body {
    background-color: black;
}



.navbar {
    background-color: navy;
}

.btn-dblue {
	background-color: dodgerblue;
}